/* .container {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin: 0px 0px;
} */
/* * {
  background-image: linear-gradient(#feac5e, #c779d0, #4bc0c8);
} */
.container1 {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-right: 0px;
  color: #3969af;
  /* background-image: linear-gradient(#feac5e, #c779d0, #4bc0c8); */
  background-color: #8ae0b182;
}
.card-body1 {
  background-color: #8ae0b182;
  font-family: "Oleo Script Swash Caps", cursive;
  /* background-image: linear-gradient(#feac5e, #c779d0, #4bc0c8); */
}
.list-group-item {
  color: #0e0ec7;
  /* background-color: rgb(54, 223, 167); */
  background-color: #8ae0b182;
}
/* OBJECTIVEEEE */
.list-group-flush > .list-group-item {
  border-width: 0 0 1px;
  background-color: #8ae0b182;
  /* background-image: linear-gradient(#feac5e, #c779d0, #4bc0c8); */
}
/* RISK      */
.list-group-flush > .list-group-item1:last-child {
  border-bottom-width: 0;
  /* background-image: linear-gradient(#feac5e, #c779d0, #4bc0c8); */
  background-color: #8ae0b182;
}
.list-group-flush > .list-group-item:last-child {
  border-bottom-width: 0;
  background-color: #8ae0b182;
  /* background-image: linear-gradient(#feac5e, #c779d0, #4bc0c8); */
}
